* {
    padding: 0px;
    margin: 0px;

    /* Make font the same */
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* for consturuction purpose only*/
    /* border-width: 4px;
    border-color: #000000;
    border-style: solid; */
}




/* backgroud color for header and footer is same */

.header-out, .footer {
    background-color: #1f2937;
    color: #f9faf8;

}

/* white backgroudn for the main and cat-out  */
.main, .cat-out {
    background-color: #f9faf8;
}

/* backgroudn for quote and cat-out */
.quote-out {
    background-color: #e5e7eb;
}

/* This is for the sign up button and call to action color */

button {
    background-color: #3882f6;
    /* increase its width and height and center it horizaontally */
    color:#f9faf8;

    min-width: 120px;
    min-height: 30px;

    /* make it shrink */
    flex-shrink: 1;

    /* provide border for looks */
    border-radius: 5px;

    /* change button boder color and width */
    border-color: #f9faf8;
    border-width: 2px;


}

/* this is for the ca background */

/* the cat box is of blue colour */
.cat {
    background-color: #3882f6;
    /* add some border radius for looking good */
    border-radius: 12px;
}















.header-small {

    /* border for ease of see */
    display: flex;
    flex-direction: row;
    /* Do we wrap?  Yes...*/
    /* It ain't working... is it width? */
    flex-wrap: wrap;
    /* The logo takes most the width avaiable */
    /* width: 100%; */

    /* Maybe set some height for flex-wrap to work... Maybe 4 times the width of each smaller container... */
    min-height: 50px;

    /* add some gap between the rows when wrap happens so the links and logo looks far apart */
    /* use box borer and padding on under */
    
}


.header-small > div {
    display: flex;
    flex-direction: row;



    /* border for construction */
    /* border-style: solid;
    border-color: rgb(56, 8, 250);
    border-width: 2px; */

    /* Make them shrink for mobile desig.... uhh it ain't working */
    flex-shrink: 1;
    
    /* define some min-width for flex-wrap to take place */
    min-width: 200px;
    min-height: min-content;

    /* Gap between these div so they don't collapse */
    gap: 16px;

    /* we want some padding on these two so they don't collapse when row chaneges for the nav */
    box-sizing: border-box;
    margin-bottom: 8px;
    /* add some padding to left and right... */
    padding: 0 2%;

}

/* Make logo grow till the end */
.header-logo {
    flex-grow: 10;
}

/* This is for the small links... they need to be have some spacing for them to look good */

.header-links {
    display: flex;
    flex-direction: row;
    flex-grow: 2;


    justify-content: space-evenly;
    /* Create some gap between */
    gap: 4%;


    /* when flex wrap happens, whole links appear in the evenly... make them appear space-between for looks*/
    align-content: space-between;
}

/* define min width for these links so they appear far apart */

.header-links > div {
    min-width: 60px;
}


/* This for the header box where we have  larger box */

.header-big {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    flex-wrap: wrap;

    
    /* border for construction */
    /* border-style: solid;
    border-color: rgb(250, 161, 8);
    border-width: 5px; */



    /* give height */
    min-height: 200px;  

    /* give some gap between these two boxes inside so they look good */
    gap: 4%;

    


}

/* For the boxes directly insde... Make sure they are of same size */

.header-big > div {
    flex-grow: 1;
    flex-shrink: 0;

    /* border for construction */
    /* border-style: solid;
    border-color: rgb(8, 250, 40);
    border-width: 5px; */

    /* maybe give them some minimum width so they can start wrapping after that */

    flex-basis: 0;
    min-width: 300px;

}


/* Give some minimum height for the image */
.header-big-box2 {
    min-height: 300px;
}


/* now change for the box1 */
.header-big-box1 {
    /* make them flex again */
    display: flex;
    flex-direction: column;

    /* add some height for minimu */
    min-height: 300px;

    /* add some gap and padding */
    box-sizing: border-box;
    padding: 2%;

    /* The boxes are center in the column... acroos main axis */
    justify-content: center;

}

.header-big-box1 > div {

    /* make them all size 0 so they all become equal and just arrange them using flex grow */
    flex-grow: 1;
    flex-shrink: 1;

    /* border for construction */
    /* border-style: solid;
    border-color: rgb(250, 214, 8);
    border-width: 2px; */

    /* add some margin so the boxes don't collapse */
    box-sizing: border-box;
    margin: 2% 0;

}



/* center the text inside these */
.hbb1, .hbb2 {
    text-align:left;
}





.header-logo {
    font-size: 24px;
    /* This is for the logo size and ccolor */
    color: #f9faf8;
    font-weight: 900;

    /* To center the logo along vertical */
    display: flex;
    align-items: center;
}

/* This is for the text isnde box1 */

.hbb1 {
    font-size: 48px;
    /* color: #f9faf8; */
    font-weight: 900;
}


/* This is for the small text inside the box1 and the links */
.hbb2, .header-links1, .header-links2, .header-links3 {
    font-size: 18px;
    color: #e5e7eb;

    /* Center them column wise... cross axis but there is no uhhh... flex inside */
    display: flex;

    justify-content: center;
    align-items: center;
}



/* Now we want some padding between the big and small div in the header */
.header > div {
    /* Add margin to bottom */
    /* margin-bottom: 1%; */

    box-sizing: border-box;
    padding: 1% 0;
    /* create some minimum gap using margin for the top and bottom so them don't collapse */
}
















/* This is for the main box aka the middle one. above quote and below header */

.main {
    display: flex;
    flex-direction: column;

    /* border for visual */
    /* border-style: solid;
    border-color: rgb(8, 32, 250);
    border-width: 2px; */

    /* Add some gap between the small and big so they don't collapse with each other */

    gap: 20px;

    /* make it bordder box and add some padding */

    box-sizing: border-box;
    padding: 5%;
}

.main-small {
    /* just center it for now and give some space */
    align-self: center;
    min-height: 80px;

    
}

/* Center the text of the main-small */

.main-small > p {
    text-align: center;
}


.main-big {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* Make them space out */
    justify-content: space-evenly;

    /* create some gaps so the boxes don't collapse or get too close */
    gap: 40px;

}

/* This contain the 4 squares with the text.... This is gonna be challenging */

.main-big > div {

    /* border for contruction */
    /* border-style: solid;
    border-color: rgb(206, 250, 8);
    border-width: 2px; */

    /* Add some gap between them... make sure they don't grow but shrink */

    justify-content: space-evenly;
    width: 200px;

    /* make some gap between them so they donn't collapse */



}

/* Make all the square square aka, it contains all the squares */
.mbss1, .mbss2, .mbss3, .mbss4 {

    /* Give them height and width of a square */

    min-height: 200px;
    min-width: 200px;


    
    /* border for visual */
    /* border-style: solid;
    border-color: rgb(206, 250, 8);
    border-width: 2px; */


}

/* This is just some extra space in the main below for somewhat goodie look */
/* creating too much space so commented out */


/* .main-extra-space {
    height: 80px;
} */



/* This is for the color of the main boxes for the look */

.mbss1, .mbss2, .mbss3, .mbss4  {
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 16px;
}






/* This is for main styling */

.main-small {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

/* for the text under the boxes*/
.text-under > p{
    /* uhhh use margin for auto for centering them*/

    /* border for construction */
    /* border-style: solid;
    border-color:firebrick;
    border-width: 2px; */

    /* use text properties for paragrah */
    text-align: center;

  
}

















/* Now, the quote section starts */

/* make the quote box shirnk for too much text */

.quote-out {
    display: flex;
    /* define max height  */
    max-height: min-content;
}

.quote-box {
    display: flex;
    flex-direction: column;

    /* border for construction */

/*     
    border-style: solid;
    border-color: rgb(rgb(250, 8, 137));
    border-width: 20px; */


    /* adding some padding to the quote box text for uhhh.. center it use border box */
    box-sizing: border-box;
    padding: 8%;

    /* add shrink */
    flex-shrink: 1;

}



.quote-text {

    /* Give some height and yk... some wording.. */
    min-height: 160px;
    /* add some  gaps in them */
}

.quote-by {

    /* Make it appear at the right */
    align-self: flex-end;
    /* Give some height and yk... some wording.. */
    min-height: 40px;
}



/* This is for quote text colour and font size */

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* this is for the quote by font weight */

.quote-by {
    font-weight: 800;
    font-size: 18px;
}
























/* This is the cat-out section */

.cat-out {
    /* add some padding to the whole cat for it to look kinda of uhhh centerised */
    box-sizing: border-box;
    padding: 4%;
}


.cat {
    /* Contain two rows */
    display: flex;
    flex-direction: row;

    /* Make them wrap */
    flex-wrap: wrap;

    /* Align to the center of the horizonatl */
    /* justify-content: center; */



    /* border for construction */
    /* border-style: solid;
    border-color: black;
    border-width: 4px; */

    /*  min-height for cat to not collapse*/
    min-height: 140px;
    max-height: max-content;

    min-width: 300px;

    /* add some padding on the left and right to center it well */

    /* use border box */
    box-sizing: border-box;
    padding: 0 8%;

    /* add some margin so the boxes of the cat where text and button is present to contain some gap or more specifally don't collape or have margin */
    gap: 4%;

}

.cat > div {
    
    /* border for visual */
    /* border-style: solid;
    border-color:gold;
    border-width: 4px; */


    /* to seprate the quote-text whole box and the sign-up box using margin */
    margin: 1%;
    
    
}

/* Now, we want the text box to grow long but the button to be short but take enoguht space in ratio say 3:1 */

.cat-text {
    flex-grow: 3;

    /* center the given text boxes... use uhh.. flex */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* add some uhh... space using gap acroos the two text box to make them appear seperated */

    gap: 4px;

    
}



/* Change the cat text 1 to similar to logo design */

.cat-text1 {
    font-size: 24px;
    /* This is for the cat text size and ccolor */
    color: #f9faf8;
    font-weight: 900;
}


/* for colour to cat-text 2 */

.cat-text2 {
    /* This is for the cat text 2 which is under the cat size and ccolor */
    color: #f9faf8;

}

.cat-sign-up {
    flex-grow: 1;

    /* center it horizntally*/
    align-self: center;

    /* applyling flex to center the button inside */
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}




























/* This is for creating the sapce at our four main-div... so we can apply background */

.header-out > div,
.main-out > div,
.quote-out > div,
.cat-out > div
{ 

    /* Add max width to give that effect and just cetner the elements */
    max-width: 1200px;
    /* min-width: 100%; */

    /* for centerning use margin and padding */
    margin: 0 auto;

    /* Now use padding if needed */
    /* padding: 0px 2%; */


}



